doctype html
html
  head
    title Briggs Elsperger
    link(rel="stylesheet", href="/dist/stylesheets/reset.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display|Lato:300,400')
    link(rel="stylesheet", href="/dist/stylesheets/layout.css")
    //- Global site tag (gtag.js) - Google Analytics
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-122649526-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-122649526-1');

    block stylesheets

    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block body
