doctype html
html
  head
    title Briggs Elsperger
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display|Lato:300,400')
    link(rel="stylesheet", href="/dist/stylesheets/layout.css")
    block stylesheets

    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block body
