doctype html
html
  head
    title Briggs Elsperger
    link(res="stylesheet", href="/dist/index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .title
      h1 #{`<Briggs Elsperger/>`}
    .links
      a(href="https://github.com/I3uckwheat") Github
