/* TODO - change colors of text */

#blog-post {
  color: #222126;
  line-height: 27px;
}

#blog-post h1,
#blog-post h2,
#blog-post h3,
#blog-post h4,
#blog-post h5,
#blog-post h6 {
  margin-bottom: 10px;
  line-height: 1.3;
}

#blog-post h1 {
  font-size: 2em;
  font-weight: bold;
}

#blog-post h2 {
  font-size: 1.75em;
  font-weight: 600;
}

#blog-post h3 {
  font-size: 1.5em;
}

#blog-post h4 {
  font-size: 1.25em;
}

#blog-post h5 {
  font-size: 1.15em;
}

#blog-post h6 {
  font-size: 1.05em;
}

#blog-post p {
  margin-bottom: 30px;
}

#blog-post em {
  font-style: italic;
}

#blog-post strong {
  font-weight: bold;
}

/* #blog-post ol, */
/* #blog-post ul { */
/*   margin-bottom 30px; */
/* } */

#blog-post ol {
  list-style-type: decimal;
  list-style-position: inside;
}

#blog-post ol ul,
#blog-post ul ol{
  margin-bottom: 0px;
  padding-left: 20px;
}

/* TODO - list nested paragraphs broken */

#blog-post li > p {
  display: block;
}

#blog-post pre > code {
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 2%;
  margin-bottom: 30px;
}

#blog-post code {
  background-color: #22212612;
}

/* TODO - Render Tables */
