.left, .right {
  position: absolute;
  top: 0;
  bottom: 0;
}

.left {
  background-color: #222126;
  left: 0;
  right: 40%;
}

.left .text {
  position: absolute;
  text-align: right;
  bottom: 40%;
  right: 0;
  margin-right: 40px;
  color: #F2F2F0;
}

.left h1 {
  font-size: 66px;
  font-weight 500;
  margin-bottom: 10px;
  font-weight: bold;
}

.left h2 {
  color: #B1B0B7;
  font-size: 26px;
  margin-bottom: 12px;
}

.left #quote {
  margin-bottom: 22px;
  color: #ffffff2b;
}

.right {
  font-family: lato;
  background-color: #F2F2F0;
  color: #2221268a;
  left: 60%;
  right: 0;
  overflow: hidden;
}

.strong {
  color: #222126e6;
  font-weight: bold;
}

.right article.about {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 1.5em;
  width: 78%;
  margin-left: 45px;
}

.right article.about p {
  margin-bottom: 40px;
}

