header {
  position: relative;
  background-color: #222126;
  font-family: 'Playfair Display', serif;
  height: 30vh;
  width: 100vw;
  text-align: center;
}

.text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

header h1 {
  font-size: 2.3em;
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.3em;
  color: #B1B0B7;
  margin-bottom: 10px;
}

header #quote {
  font-size: 0.8em;
  color: #ffffff2b;
  margin-bottom: 10px;
}

header #quote .credit {
  white-space: nowrap;
}

header nav {
  position: static;
  margin: auto;
}

.body {
  width: 100vw;
}

.body article.about {
  margin-left: 10%;
  padding-top: 9vh;
  width: auto;
  color: #2221269e;
  font-size: 1em;
}

.body article.about p {
  padding-bottom: 10%;
}

.social {
  margin-left: 10%;
}

.social img {
  width: auto;
  height: 35px;
  margin-top: 20px;
  margin-right: 20px;
}
