body {
  background-color: #F2F2F0;
  color: #222126;
}

p {
  line-height: 1.4em;
}

h2, h3, h4 {
  font-size: 2em;
  font-family: 'Lato';
  font-weight: 300;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

header {
  height: 197px;
  background-color: #222126;
  color: #F2F2F0;
  font-family: 'Playfair Display', serif;
}

header nav {
  position: relative;
  top: 20px;
  margin-left: 20px;
}

nav ul li {
  display: inline-block;
  color: #F2F2F0;
}

nav ul li:after {
  padding: 10px;
  content: '|'
}

nav ul li:last-child:after {
  content: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

nav a:hover,
nav a:active {
  text-decoration: underline;
}

header .title h1 {
  font-size: 3em;
  padding: 57px 0 50px 20px;
}

.content-container {
  font-size: 19px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}

.content {
  margin: auto;
  max-width: 60%;
  padding-bottom: 90px;
  padding-top: 90px;
}

.content article.about {
  margin-bottom: 45px;
}

.content a {
  text-decoration: none;
  color: #2841A6;
}

.content a:hover,
.content a:active {
  color: inherit;
  text-decoration: underline;
}

.content ul {
  font-weight: bold;
  margin-bottom: 20px;
}

.content li {
  font-weight: normal;
}

.content ul > li:before {
  color: black;
  font-weight: normal;
  content: "- ";
}

.content li > article {
  margin-top: 30px;
  max-width: 780px;
}

.content img {
  border: 1px solid #22212647;
  margin: -10px 20px 25px 0;
  max-height: 120px;
  display: inline-block;
}


.content li > a > h2,
.content li > h2,
.content li h3,
.content li h4 {
  display: inline;
}

.content .project-showcase {
  line-height: 1.4em;
}

.content .project-showcase h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content .project-showcase > li {
  margin-bottom: 80px;
}

.content .project-showcase li:before {
  content: none;
}

.content .project-showcase > li {
  padding-top: 13px;
  border-top: 1px solid #22212647;
  max-width: 780px;
}

.other ul {
  margin-top: 20px;
}

.other li article {
  margin-top: 13px;
}

.other .links > *:after {
  color: #222126;
  content: ' | ';
}

.other .links > *:last-child:after {
  content: none;
}

@media(max-width: 500px) {
  nav a {
    font-size: 1em;
  }

  nav ul li:after {
    padding: 5px;
  }

  header .title h1 {
    font-size: 2.5em;
    padding-top: 50px;
  }

  header {
    height: 146px;
  }

  .content {
    margin-left: 35px;
    max-width: 80%;
  }
}

@media(max-width: 360px) {
  nav a {
    font-size: .9em;
  }
}
