body {
  background-color: #F2F2F0;
}

header {
  height: 197px;
  background-color: #222126;
  color: #F2F2F0;
  font-family: 'Playfair Display', serif;
}

header nav {
  position: relative;
  top: 20px;
  margin-left: 20px;
}

nav ul li {
  display: inline-block;
  color: #F2F2F0;
}

nav ul li:after {
  padding: 10px;
  content: '|'
}

nav ul li:last-child:after {
  content: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

header .title h1 {
  font-size: 3em;
  padding: 80px 0 50px 20px;
}

.content-container {
  font-family: 'Arimo', sans-serif;
  font-size: 19px;
  line-height: 20px;
}

.content {
  margin: auto;
  max-width: 70%;
  padding-bottom: 90px;
  padding-top: 90px;
}

.content article.about {
  margin-bottom: 40px;
}

.content a {
  text-decoration: none;
  color: #2841A6;
}

.content a:hover,
.content a:active {
  color: inherit;
  font-weight: bold;
}

.content ul {
  font-weight: bold;
  margin-bottom: 20px;
}

.content li {
  font-weight: normal;
}

.content ul > li:before {
  color: black;
  font-weight: normal;
  content: "- ";
}

.content form label,
.content form input {
  display: block;
}

/* TODO - make consistent with line spacing above */
.content form input {
  margin-bottom: 20px;
}
