extends ../layout.pug

block content
  article.about
    p this is a list of some things
    p that i have publicly written
    p but isn't part of my blog

  section.information
    ul.the-odin-project the odin project
      li: a(href='https://www.theodinproject.com/courses/javascript/lessons/async-and-await') async and await
