extends ../layout.pug

block content
  article.about
    p These are things I have written that are not part of my blog.
    p Most of these will be educational pieces.

  section.information
    ul.the-odin-project the odin project
      li: a(href='https://www.theodinproject.com/courses/javascript/lessons/async-and-await') async and await
      li: a(href='https://www.theodinproject.com/courses/javascript/lessons/react') introduction to frameworks - react
