extends ../layout.pug

block content
  article.about
    p These are things I have written that are not part of my blog.
    p Most of these will be educational pieces.

  section.information
    ul.the-odin-project The Odin Project
      li: a(href='https://www.theodinproject.com/courses/javascript/lessons/async-and-await') Async and Await
      li: a(href='https://www.theodinproject.com/courses/javascript/lessons/react') Introduction to Frameworks - React
      li: a(href='https://www.theodinproject.com/courses/web-development-101/lessons/prerequisites') Prerequisites - Linux Dual Boot
      li: a(href='https://www.theodinproject.com/courses/web-development-101/lessons/your-first-rails-application') Your First Rails Applicaiton - Installing and configuring the enviornment
