extends ../layout

block stylesheets
  link(rel="stylesheet", href="dist/stylesheets/landingPage.css")

block body
  header
    .text
      h1 Briggs Elsperger
      h2 Fullstack JavaScript Developer
      p#quote.faint-text "simple broad strokes are better than clumsy fine strokes" #[span.credit -Cornelius Soon]
      nav
        include ../navList.pug

  .body
    article.about
      p hi, i'm briggs.
      p i like long walks in the rain and javascript
      p i make responsive and clean websites
      p and other javascript applications
      p.strong for hire: briggse@protonmail.com
      .social
        a(href='https://www.linkedin.com/in/briggs-elsperger/'): img(src='/dist/images/linked-in.png')
        a(href='https://github.com/I3uckwheat'): img(src='/dist/images/github.png')
        a(href='mailto:briggse@protonmail.com'): img(src='/dist/images/mail.png')
