extends ../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/landingPage.css")

block body
  header
    .header-content
      h1 Briggs Elsperger
      h2 Fullstack Javascript Developer
      p#quote.faint-text "simple broad strokes are better than clumsy fine strokes" -Cornelius Soon
      nav
        include ../navList.pug
    .center-text.faint-text
      p#scroll-down hey, there's stuff down here too
      svg(width='24' height='24' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'): path(d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z")
  .content-container
    section.content
      article.about
          p hi, i'm briggs.
          p i like long walks in the rain and javascript
          p i make respoinsive and clean websites
          p and other javascript applications

      section.information
        ul.me me
          li: a(href='https://github.com/I3uckwheat') github
          li: a(href='https://www.linkedin.com/in/briggs-elsperger') linkedin
          li: a(href='/communities') communities
        ul.projects projects
          li: a(href='https://gfr.briggselsperger.com') groton fire department
          li: a(href='https://github.com/I3uckwheat/Snake-JS') snakeJS
          li: a(href='/projects') more
        ul.publications publications
          li: a(href='/blog') plaintext blog
          li: a(href='/publications') list of publications
        ul.contact contact
          li: a(href='mailto:example@example.com' target='_top') example@example.com
          li 555-555-5555
          li contact form
    script(src='/scripts/src/landingPage.js')
