extends ../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/landingPage.css")

block body
  .left
    .text
      h1 Briggs Elsperger
      h2 Fullstack JavaScript Developer
      p#quote.faint-text "simple broad strokes are better than clumsy fine strokes" -Cornelius Soon
      nav
        include ../navList.pug

  .right
    article.about
      p hi, i'm briggs.
      p i like long walks in the rain and javascript
      p i make responsive and clean websites
      p and other javascript applications
      p.strong for hire: briggse@wtf.com
