extends ../head

block stylesheets
  link(rel="stylesheet", href="/stylesheets/landingPage.css")

block body
  header
    .headerText
      h1 Briggs Elsperger
      h2 Fullstack Javascript Developer
      //- p#quote
      p "simple broad strokes are better than clumsy fine strokes" -Cornelius Soon
    nav
      include ../navList.pug
  section.content
    article.about
      section.about-me
        p hi, i'm briggs.
        p i like long walks in the rain and javascript
        p i make respoinsive and clean websites
        p and other javascript applications

      section.information
        ul.me me
          li: a(href='https://github.com/I3uckwheat') github
          li: a(href='https://www.linkedin.com/in/briggs-elsperger') linkedin
          li: a(href='/communities') communities
        ul.projects projects
          li: a(href='https://gfr.briggselsperger.com') groton fire department
          li: a(href='https://github.com/I3uckwheat/Snake-JS') snakeJS
        ul.publications publications
          li: a(href='/blog') plaintext blog
          li: a(href='/publications') list of publications
        ul.contact contact
          li: a(href='mailto:example@example.com' target='_top') example@example.com
          li 555-555-5555
          li contact form
  //- script(src='/scripts/src/landingPage.js')
