extends ../layout

block content
  article.about
    p this is a place for some of my projects.
    p i have put some notable projects
    p along with what i am working on.
    p if you would like the source code, contact me
    p my information is on the home page.

  section.information

    ul.groton-fire-rescue
      li
        a(href='https://gfr.briggselsperger.com') groton fire and rescue
        div
          img('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtV8mJDn9dbVlijXLTmSmkMD7TouJoajbijTmwlXDCsmi22IY')
          p This site was built for a fire department, It was built with express, using the pug templating engine. The website features a full administrative panel with administrator privalages and management. After building this site, the administrators of the site can change the content themselves, including most images.
