extends ../layout

block content
  article.about
    p Here are some of the things I've worked on.
    p Click on an image to be taken to the specific page on the site.
    p If you would like to see the source code, contact me.
    p My information is on the home page.

  section.information

    ul.project-showcase
      li
        a(href='https://gfr.briggselsperger.com'): h2 Groton Fire & Rescue
        article
          a(href='https://gfr.briggselsperger.com'): img(src='/dist/images/projects/grotonFire.png')
          a(href='https://gfr.briggselsperger.com/gallery'): img(src='/dist/images/projects/grotonFireGallery.png')
          a(href='https://gfr.briggselsperger.com/training'): img(src='/dist/images/projects/grotonFireTraining.png')
          p This site was built for a fire department, It was built with express, using the pug templating engine. The website features a full administrative panel with administrator privileges and management. After building this site, the administrators of the site can change the content themselves, including most images.

      li
        a(href='https://i3uckwheat.github.io/Snake-JS/'): h2 SnakeJS
        article
          a(href='https://i3uckwheat.github.io/Snake-JS/'): img(src='/dist/images/projects/SnakeJS.png')
          p This project was created as part of The Odin Project's curriculum. A classic everyone should have played at one point or another. Source code is on github #[a(href='https://github.com/I3uckwheat/Snake-JS') here]

      li
        a(href='https://github.com/I3uckwheat/galleria'): h2 Galleria
        article
          p Galleria is a middleware for building photo galleries locally. It allows uploading of images and it will create the needed directories. It is also configurable, one can change nearly anything using a configuration object. This is still in development. It is used on the Groton Fire and Rescue site #[a(href='https://gfr.briggselsperger.com/gallery') here].

      li.other
        h2 Other things I've worked on
        ul
          li
            a(href='https://www.theodinproject.com/'): h3 The Odin Project
            .links
              h4: a(href='https://www.theodinproject.com/') Homepage
              h4: a(href='https://github.com/TheOdinProject') Github
            article
              p I help write lessons for the curriculum and spend time moderating the community and helping people new to web development when they get stuck. I also spend time facilitating sprints to improve the curriculum.
