extends ../layout

block content
  article.about
    p this is a place for some of my projects.
    p click on the title to be taken to the site, an image will take you to the page
    p if you would like the source code, contact me
    p my information is on the home page.

  section.information

    ul.project-showcase
      li
        a(href='https://gfr.briggselsperger.com'): h2 Groton Fire & Rescue
        article
          a(href='https://gfr.briggselsperger.com'): img(src='images/projects/grotonFire.png')
          a(href='https://gfr.briggselsperger.com/gallery'): img(src='images/projects/grotonFireGallery.png')
          a(href='https://gfr.briggselsperger.com/training'): img(src='images/projects/grotonFireTraining.png')
          p This site was built for a fire department, It was built with express, using the pug templating engine. The website features a full administrative panel with administrator privileges and management. After building this site, the administrators of the site can change the content themselves, including most images.

      li
        a(href='https://i3uckwheat.github.io/Snake-JS/'): h2 SnakeJS
        article
          a(href='https://i3uckwheat.github.io/Snake-JS/'): img(src='images/projects/SnakeJS.png')
          p This project was created as part of The Odin Project's curriculum. A classic everyone should have played at one point or another. Source code is on github #[a(href='https://github.com/I3uckwheat/Snake-JS') here]

      li
        a(href='https://github.com/I3uckwheat/galleria'): h2 Galleria
        article
          p Galleria is a middleware for building photo galleries locally. It allows uploading of images and it will create the needed directories. It is also configurable, one can change nearly anything using a configuration object. This is still in development. It is used on the Groton Fire and Rescue site #[a(href='https://gfr.briggselsperger.com/gallery') here].

      li.other
        h2 Other things I've worked on.
        ul
          li
            a(href=''): h3 The Odin Project
            .links
              h4: a(href='') Homepage
              h4: a(href='') Github
            article
              p I help write lessons for the curriculum and spend a time moderating the gitter chat room and helping people new to web development when they get stuck.
