doctype html
html
  head
    title #{title}
    link(res="stylesheet", href="/dist/index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    .content
      block content
