extends blogLayout

block content
  .content
    h1 Posts
    .posts
      while i < 10
        .post
          -const post = posts[i]
          h3= post.title
          p= post.body.split(" ").slice(0, 30).join(" ")
