extends blogLayout

block content
  h1 Posts
  .posts
    - for(let i = 0; i < posts.length; i++) {
      .post(id=`post${i}`)
        h3= posts[i].title
        p= posts[i].body.split(" ").slice(0, 30).join(" ")
        br
    -}
