extends ../layout

block stylesheets
  link(rel="stylesheet", href='/dist/stylesheets/blog.css')
  link(rel="stylesheet" href="/dist/stylesheets/prism.css")

  //- TODO - https://oxal.org/projects/sakura/demo/

block scripts
  script(src="/dist/scripts/prism.js")

block content
 article#blog-post !{post.body}
