extends ../layout

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/blog.css')

block content
  article.about
    p this is where i write stuff about programming, javascript,
    p and other web development related stuff.
    p click on something, you might find it useful.

  section.information
    ol.articles
      li: ul #[time june 2018]
        li
          a(href='/blog') to, and from vscode
        li
          a(href='/blog') writing a lesson
      li: ul #[time may 2018]
        li
          a(href='/blog') to, and from vscode
        li
          a(href='/blog') writing a lesson
