extends ../layout

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/blog.css')

block content
  article.about
    p this is where i write stuff about programming, javascript,
    p and other web development related stuff.
    p click on something, you might find it useful.

  section.information
    ol.articles
      each date in dates
        - const categoryDate = new Date(date.date.year, date.date.month)
        li: ul #[time #{categoryDate.toLocaleDateString('en-US', {month: 'long', year: 'numeric'})}]
          each post in date.posts
            li
              a(href=`blog/${post.slug}`)= post.title
