extends ../layout

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/blog.css')

block content
  article.about
    p This blog is dedicated to web technologies,
    p you might find tutorials, or information on a number of topics.
    p Click on something, you might find something useful.

  section.information
    ol.articles
      each date in dates
        - const categoryDate = new Date(date.date.year, date.date.month)
        li: ul #[time #{categoryDate.toLocaleDateString('en-US', {month: 'long', year: 'numeric'})}]
          each post in date.posts
            li
              a(href=`blog/${post.slug}`)= post.title
